.global-img {
    width: 25px;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f55a5a;
    color: #ffffff;
    border-radius: 5px;
}

h1 {
    padding-left: 10px;
    font-family: 'Inter';
    font-size: 1rem;
}